body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.banner{
     background:url(../img/banniere.jpg);
      height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.banner_text{
    margin: 0;
    width: 300px;
    height: 80px;
     background-color: beige;
     font-family: Arial, Helvetica, sans-serif;
     opacity: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
      position: absolute;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
border-radius: 30px;
}
/* MAIN-CONTENT ACCUEIL.HTML */
main{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    align-items: center;
}
.main_title{
    margin: 0;
    background-color: #a90331;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    height: 50px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container{
    width: 100%;
}
button{
width: 20px;
margin: 10px 0;
border: none;
background-color: #a90331;
border-radius: 5px;
}
button::after{
content: "MENU";
margin-left: 10px;
color: #a90331;
font-weight: bold;
}
.nav{
    background-color: lightgray;
    display: none;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav.open{

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_list{
display: flex;
flex-direction: column;
list-style: none ;
text-align: center;
padding: 0;


}
.nav_item {
    width: 100%;
   padding: 10px 0;

}
.nav_item:hover {
    background-color: #a90331;
}
.nav_link {
    text-decoration: none;
     color: rgb(0, 0, 0); 
}
.nav_link:hover {
     color: rgb(255, 255, 255); 
     cursor: pointer;
}
p{
    text-align: justify;
    margin:  10px;
}
@media screen and (max-width:1023px) and (min-width:639px){
    main{
        background-color: #fff;
    }
}
